.background-pane {
    -fx-background-color: #ffffcc;
    -fx-font-family: 'Comic Sans MS', cursive;
}



.tab-label {
    -fx-font-size: 14px;
    -fx-text-fill: #2c4dd1;
}

.button-cart {
    -fx-background-color: #8a2be2;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-pref-width: 150; /* Adjust the width as needed */
    -fx-alignment: center; /* Center the text horizontally within the button */
}

.product-box {
    -fx-background-color: #ffffcc; /* Light yellow background */
    -fx-border-color: black;
    -fx-padding: 15;
    -fx-spacing: 15;
    -fx-pref-width: 900;
    -fx-pref-height: 120;
    -fx-max-width: 900;
    -fx-max-height: 120;
    -fx-alignment: center; /* Center content vertically */
}

.product-image {
    -fx-alignment: top-left;
    -fx-spacing: 10;
}

.product-info {
    -fx-alignment: top-left;
    -fx-font-size: 20px;
}

.product-name {
    -fx-font-weight: bold;
}

.product-price {
    -fx-font-style: italic;
}

.quantity-box {
    -fx-spacing: 10;
    -fx-alignment: center-left; /* Center content vertically and align left */
}

.quantity-text-area {
    -fx-pref-width: 40;
    -fx-pref-height: 20;
}

.button-cart {
    -fx-background-color: #8a2be2;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-pref-width: 150; /* Adjust the width as needed */
    -fx-alignment: center; /* Center the text horizontally within the button */
    -fx-pref-height: 40;
}
